<!DOCTYPE html>
<html lang="en">
  <title>GitLists</title>
  <link rel="shortcut icon" type="image/png" href="http://icons.iconarchive.com/icons/icons8/windows-8/512/Food-List-Ingredients-icon.png" />
  <meta name="description" content="GitLists is a user-curated and easy-to-use platform for navigating through Github's repositories">
  <meta name="keywords" content="Github, lists, list, list of lists, lists of lists, resource, Github resource, awesome list, library, repository list, libraries">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <!--CDN for hover.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="/../public/assets/css/style.css">
  <link rel="stylesheet" href="/../public/assets/css/vex.css" />
  <link rel="stylesheet" href="/../public/assets/css/vex-theme-wireframe.css" />
  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!--TypeIt Link -->
  <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/js/vex.combined.js"></script>
  <script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
  <body>
	{{{ body }}}
  </body>
</html>
